#slides-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#slides {
  width: 300%;
  height: 300%;
  position: fixed;
  top: 0;
  left: 0;
}

.slide {
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:34%;
  border-top: 1px solid #b7babd;
  padding-bottom: 5px;
}
#slide-1 {
  transform: translate(0, 0);
}
#slide-2 {
  transform: translate(0, 100%);
}
#slide-3 {
  transform: translate(0, 200%);
}
#slide-4 {
  transform: translate(100%, 200%);
}
#slide-5 {
  transform: translate(100%, 100%);
}
#slide-6 {
  transform: translate(100%, 0);
}

.tenure {
  background: url('../images/tenure.jpg') no-repeat center center;
  background-size: contain;
}
.gendermix {
  background: url('../images/gendermix.jpg') no-repeat center center;
  background-size: contain;
}
.leverage {
  background: url('../images/leverage.jpg') no-repeat center center;
  background-size: contain;
}
.timeinaccount {
  background: url('../images/timeinaccount.jpg') no-repeat center center;
  background-size: contain;
}
.hbx {
  background: url('../images/hbx-core.jpg') no-repeat center center;
  background-size: contain;
}
.hbs {
  background: url('../images/hbs.jpg') no-repeat center center;
  background-size: contain;
}
.vlad {
  background: url('../images/vlad.jpg') no-repeat center center;
  background-size: contain;
}
.susmita {
  background: url('../images/susmita.jpg') no-repeat center center;
  background-size: contain;
}
.bill {
  background: url('../images/bill.jpg') no-repeat center center;
  background-size: contain;
}
.vipul {
  background: url('../images/vipul.jpg') no-repeat center center;
  background-size: contain;
}
.flower {
  background: url('../images/flower.jpg') no-repeat center center;
  background-size: cover;
}
.salary {
  background: url('../images/salary.jpg') no-repeat center center;
  background-size: contain;
}
.baybridge {
  background: url('../images/baybridge.jpg') no-repeat center center;
  background-size: contain;
}
.thanks {
  background: url('../images/thanks.jpg') no-repeat center center;
  background-size: contain;
}

.review {
  width: 600px;
  border: 1px solid #b4b2b7;
  padding: 1em;
  background: rgba(100,94,116,0.7);
  color: #fff;
  font-style: italic;
  font-size: 0.8rem;
}
.review-left {
  @extend .review;
}
.review-left img{
  float: left;
  height: 100px;
  width: 100px;
  margin-right: 5px;
}
.review-right {
  @extend .review;
}
.review-right img{
  float: right;
  height: 100px;
  width: 100px;
  margin-left: 5px;
}
.top-left {
  position: absolute;
  top: 5%;
  left: 5%;
}
.top-right {
  position: absolute;
  top: 25%;
  left: 35%;
}
.bottom-left {
  position: absolute;
  top: 50%;
  left: 5%;
}
.bottom-right {
  position: absolute;
  top: 70%;
  left: 35%;
}


.left-half {
  width: 35%;
  height: 100%;
  float: left;
}
.right-half {
  display: inline-block;
  width: 25%;
  height: 100%;
}

.collage {
  position: absolute;
  float: left;
  box-shadow: 0 0 1rem rgba(0,0,0,0.8);
}
.hbxframe {
  @extend .collage;
  top: 20%;
  left: 15%;
  width: 20%;
  height: 60%;
}
.hbsframe {
  height: 100px;
  width: 100px;
  position: relative;
  top: 17%;
  left: 37%;
}
.salary-frame {
  position: absolute;
  top:200px;
  height: 150px;
}
.firstcollage {
  @extend .collage;
  top: 30%;
  left: 5%;
  width: 10%;
  height: 50%;
}
.secondcollage {
  @extend .collage;
  top: 15%;
  left: 20%;
  width: 15%;
  height: 20%;
}
.thirdcollage {
  @extend .collage;
  top: 20%;
  left: 50%;
  width: 15%;
  height: 40%;
}
.fourthcollage {
  @extend .collage;
  top: 60%;
  left: 30%;
  width: 15%;
  height: 30%;
}

.content {
  border: 2px dashed #193640;
  box-shadow: none;
  padding: 5px;
  color: #4291ab; 
}
.hbxcontent {
  @extend .hbxframe;
  @extend .content;
  left: 37%;
}
.firstcontent {
  @extend .firstcollage;
  @extend .content;
  top: 10%;
  height: 15%;
}
.secondcontent {
  @extend .secondcollage;
  @extend .content;
  left: 37%;
  width: 10%;
}
.thirdcontent {
  @extend .thirdcollage;
  @extend .content;
  height: 20%;
}
.fourthcontent {
  @extend .fourthcollage;
  @extend .content;
  height: 30%;
  width: 10%;
  left: 18%;
}

.baybridge-frame{
  position: relative;
  left: -16%;
  height: 80%;
  padding-top: 5px;
}
.thanks-frame{
  position: relative;
  left: -16%;
  height: 20%
}

#background {
  background: url('../images/bcg_slide-1.jpg') no-repeat center center;
  background-size: contain;
  width: 35%;
  height: 100%;
  float: left;
}

#introduction {
  font-weight: bold;
  font-family: Arial, sans-serif;
  display: inline-block; 
  margin-top: 200px;
  margin-left: 50px;
  width: 25%;
  @extend .content;
}

.kplogo {
  float: left;
  left: 30%;
  top: 40%;
  position: absolute;
}

p {
  margin: 2px;
}

h4 {
  margin: 0px;
}

.special {
  color: #7B212D
}
