@import "bourbon";
@import "neat";
@import "responsive";
@import "normalize";
@import "slides";
@import "imageslider";

.quiteb {
  background-image: url('../images/quiet-please-sign-s-4621.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 15px;
  height: 60px;
  width: 80px;
}
